*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    background-color: black;
}
.Navbar {
    height: 80px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.fs-600 {
    font-size: 50px;
    color: rgb(129, 231, 231); 
    margin-bottom: 10px; 
}
.fs-400{ 
    font-size: 30px;
    color: rgb(164, 222, 222);
    margin-bottom: 10px;
    margin-right: 20px; 
}
.fs-xs {
    font-size: 20px;
    color: rgb(120, 132, 132);
}
.class1 { 
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height:auto;
}

img {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin: 30px;
}
.aboutsection {
    color: rgb(255, 255, 255);
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.aboutword {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    
}
a {
    color: white;
    text-decoration: none;
}
.skills {
    display: flex;
}
.items{
    text-align: center;
    margin: 50px auto;
}
.items figure {
    margin: 0px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;

}

video {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin: 30px;
}
